/* Variables */
:root {
  --primary: #602ce2;
  --accent: #daa30b;
  font-family: "Inter", serif;
  transition: ease .3s;
}

/* Light Theme */
body[data-theme="light"] {
  --text: #181802;
  --background: #fafafa;
  --secondary: #E6E6E5;
  --toggle: #602ce2;
}

/* Dark Theme */
body[data-theme="dark"] {
  --text: #fdfde7;
  --background: #050505;
  --secondary: #1a1a19;
  --toggle: #daa30b;
}

/* Toggle Button Styles */
#themeToggle {
  /* background-color: var(--secondary); */
  background: none;
  color: var(--toggle);
  position: fixed;
  right: 1em;
  align-self: flex-end;
  border-radius: 20px;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

.flex-container {
  display: flex;
  flex-direction: row;
  max-width: 1180px;
  margin: 0 auto;
}

.link-list {
  flex: 1 1 50%;
  width: 100%;

  align-self: flex-start;
  position: sticky;
  top: 0;

  display: flex;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}

.styled-list {
  list-style: none;
  list-style-type : none;

  padding: 1em;
  margin: 0;

  margin: auto auto;
  width: 100%;
  max-width: 400px;
}

/* @media only screen and (max-width: 800px) { */
/*   .link-list { */
/*     position: relative; */
/*   } */
/*   body { */
/*     font-size: 10pt; */
/*   }; */
/* } */

.styled-list > a {
  text-decoration: none;
  color: var(--text);
}

.styled-list li {
  transition: ease .3s;
  background-color: var(--secondary);
}

.styled-list li:hover {
  color: var(--accent);
  border-color: var(--accent);
}

.list-item {
  border: 2px solid var(--secondary);
  margin: .5em 0;
  text-align: center;

  display: flex;
  flex-direction: row;
  padding: .5em;

  border-radius: 10px;
}

.link-list-icon {
  flex: 0 1;

  padding: .5em 1em .5em .5em;
  margin-right: .5em;
  font-size: 22px;
  font-weight: bold;
  border-right: 2px solid var(--primary);
}

.link-list-text {
  flex: 1 0;
  display: flex;
  justify-content: center;

  padding: .5em;
  font-size: 22px;

}

.about {
  flex: 1 1 50%;
  padding: 1em;
  margin-left: 1em;
  width: 100%;
  margin: auto auto;
  text-align: center;
}

.about-container {
  max-width: 85%;
  margin: auto auto;
}

.about-container > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.about-container > p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 28px;
  text-align: left;
}

.about-container > h1 {
  font-size: 60px;
  font-family: sans-serif;
  background: linear-gradient(120deg, var(--primary), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
  .styled-list {
    max-width: 85%;
    max-height: 100px;
    font-size: 25pt;
  }
  .link-list {
    height: 200vh;
  }
  .about-container > p {
    font-size: 25px;
  }
  .about-container > h1 {
    font-size: 75px;
  }
}
